CLIENT_ID = 'PASTE_YOUR_SPOTIFY_APP_CLIENT_ID_HERE'
CLIENT_SECRET = 'PASTE_YOUR_SPOTIFY_APP_CLIENT_SECRET_HERE'
REDIRECT_URI = 'http://localhost:5000/auth/callback'
SCOPE = 'user-read-playback-state user-modify-playback-state user-read-currently-playing streaming user-follow-read user-top-read user-read-recently-played user-read-email user-read-private'
MUSIXMATCH_API_KEY='PASTE_YOUR_API_KEY_HERE'